#Comercioss-map {
  background-color: transparent !important;
}

ion-searchbar::part(native) {
  padding-left: 0px;
}
.productos-container {
     height: 100%;
    overflow-y: scroll;
        BACKGROUND: #c0d9ef;
}

ion-searchbar {
  --padding-start: 0px;
}
.productos-row {
  align-items: flex-start;
}

/* Asegurar que cada columna utilice toda su anchura asignada */
ion-col {
  padding: 4px;
  width: 100%;
}